<div class="login-page">
    <div class="form">
      <form [formGroup]="signupForm" (ngSubmit)="signup()" novalidate>
        <input placeholder="name" formControlName="name"/>
        <input placeholder="email address" formControlName="email"/>
        <input type="password" placeholder="password" formControlName="password"/>
        <button [disabled]="!signupForm.valid" mat-raised-button type="submit">create</button>
        <p class="message">Already registered? <a href="/login">Sign In</a></p>
      </form>
    </div>
  </div>