<!-- nav 
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav> -->

<!-- main app container -->

<!-- <alert></alert> -->
<div class="navigation">
  <mat-toolbar>
    <span>
      <a routerLink="/">
        <span>Simiple Login</span>
      </a>
    </span>
    <span>
      <a routerLinkActive="active-link" routerLink="/admin">
        <span>Admin</span>
      </a>
      <a routerLinkActive="active-link" routerLink="/login">
        <span>Login</span>
      </a>
      <a routerLinkActive="active-link" routerLink="/signup">
        <span>Signup</span>
      </a>
    </span>
  </mat-toolbar>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <button class="btn btn-danger">Prueba boton</button>
</div>
 

<!-- credits 
<div class="text-center">
  <p>
      <a>Angular Login App - Profe porfa paseme :c </a>
  </p>
  <p>
      <a>Jean Paulo Ochoa Rodriguez</a>
  </p>
</div>-->

<!-- <div style="text-align: center;">
  <h1>Hi</h1>
</div>
<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a><br>
  <a routerLink="/login" routerLinkActive="active">Login</a><br>
  <a routerLink="/register" routerLinkActive="active">Register</a>
</nav>

<router-outlet></router-outlet> -->
